
<!DOCTYPE html>
<html>
<head>
	<title><%=title%></title>
		<link rel="stylesheet" type="text/css" href="<%= url("theme.css")%>">

</head>
<body>
	<h1>login</h1>
	<form action="login/acceder" method="post">
		<label>Usuario</label><br>
		<input type="text" name="usuario">
		<br>
		<label>Contrasena</label><br>
		<input type="text" name="contrasena">
		<button>Acceder</button>
	</form>
	<label><%=mensaje%></label>

</body>
</html>